In [4]:
print("First Python D ")

First Python D

In [5]:
5+6

11

In [6]:
print "Hello, World!"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello, World!")? (<ipython-input-6-a1fcabcd869c>, line 1)

In [8]:
print ("Hello world!")

Hello world!

In [9]:
-conda env list

SyntaxError: invalid syntax (<ipython-input-9-dd4e353c746f>, line 1)

In [10]:
3+5

8

In [11]:
3-5

-2

In [12]:
3/5

0.6

In [13]:
5/5

1.0

In [14]:
"string" *3

'stringstringstring'

In [15]:
"string " *3

'string string string '

3 > 5

In [16]:
3 > 5

False

In [17]:
3<5

True

In [18]:
3==3.0

True

In [19]:
3!=3.0

False

In [20]:
3<5 and 5>3

True

In [21]:
3<5 and 5<3

False

In [22]:
3<5 or 5<3

True

In [23]:
not 5<3

True

In [24]:
not 3<5

False

In [25]:
#Addition
3+5

8

In [26]:
46 - 54

-8

In [27]:
#Multiplication
4*5

20

In [28]:
#Division
35/7

5.0

In [29]:
"Pramod" + 20

TypeError: can only concatenate str (not "int") to str

In [30]:
"Pramod" + " 20"

'Pramod 20'

Markdown

Comparision operators

In [32]:
56 < 23

False

In [33]:
34*34 < 45*23

False

In [34]:
45 == 45

True

# Logical Operators

In [35]:
# and operators
0 and 3

0

In [36]:
3 and 5

5

In [37]:
# Or operator
0 or 3

3

In [38]:
3 or 0

3

In [39]:
3 or 5

3

# Operators Completed

In [40]:
a=1

In [43]:
i=5
j=i
j=4
print (i)
print (j)

5
4

# Variable Assignment

In [44]:
a = 5

In [46]:
print (a)

5

In [47]:
type (a)

int

In [48]:
b = "PP"
type (b)

str